<% include partials/header %>
      <nav aria-label="Breadcrumb" class="breadcrumb">
        <ul>
          <li class="breadcrumb__li"><a href="/">np</a></li>
          <li class="breadcrumb__li"><a href="/projets">Projets</a></li>
          <li class="breadcrumb__li breadcrumb__li--current"><span aria-current="page" ><%= projet.name %></span></li>
        </ul>
      </nav>
    </header>
    <main class="np-main np-main--projet">
      <img class="np-projects__image" src="/images/<%= projet.slug %>.jpg" alt="Image du projet <%= projet.name %>">
      <section class="np-projet">
        <div>
          <h1 class="np-projet__title"><%= projet.name %></h1>
          <div class="np-projet__desc"><%- projet.description %></div>
          <% if ((projet.link).includes("github")) { %>
            <div class="button">
              <a href="<%= projet.link %>" class="button-text">Lien Github</a>
            </div>
            <% } else { %>
              <div class="button">
                <a href="<%= projet.link %>" class="button-text">Lien site web</a>
              </div>
            <% } %>
        </div>
        <div>
          <h2 class="np-projet__subtitle">Technos</h2>
          <p class="np-projet__infos">
            <% for (let tag of projet.tags) { %>
              <%= tag %>.
            <% } %>
          </p>
          <h2 class="np-projet__subtitle">Année</h2>
          <p class="np-projet__infos"><%= projet.year %></p>
          <h2 class="np-projet__subtitle">Durée du projet</h2>
          <p class="np-projet__infos"><%= projet.duration %></p>
          <h2 class="np-projet__subtitle">Rôle</h2>
          <p class="np-projet__infos"><%= projet.role %></p>
          <h2 class="np-projet__subtitle">Equipe</h2>
          <% if ((projet.team) !== null) { %>
            <p class="np-projet__infos">
              <% for (let member of projet.team) { %>
                <%= member %>.
              <% } %>
            </p>
          <% } else { %>
            <p class="np-projet__infos">-</p>
          <% } %>
        </div>
      </section>
    </main>
<% include partials/footer %>
  </div>
</body>
</html>