<% include partials/header %>
      <nav aria-label="Breadcrumb" class="breadcrumb">
        <ul>
          <li class="breadcrumb__li"><a href="/">np</a></li>
          <li class="breadcrumb__li breadcrumb__li--current"><span aria-current="page" >Projets</span></li>
      </ul>
      </nav>
      <div class="np-hero">
        <h1 class="np-hero__title">Projets</h1>
        <p class="np-hero__subtitle">Découvrez les projets sur lesquels j'ai pris plaisir à travailler</p>
      </div>
    </header>
    <main class="np-main">
      <section class="np-section">
        <div class="np-projects">
          <% for (let projet of locals.projets) { %>
            <div class="np-projects__container">
              <div class="np-projects__wrapper">
                <a href="/projets/<%= projet.slug %>" class="np-projects__link">
                  <img class="np-projects__image" src="/images/<%= projet.slug %>.jpg" alt="Image du projet <%= projet.name %>">
                  <div class="np-projects__overlay"></div>
                </a>
              </div>
              <h2 class="np-projects__title">
                <%= projet.name %>
              </h2>
              <p class="np-projects__desc">
                <%= projet.type %>
              </p>
              <p class="np-projects__tags">
                <% for (let tag of projet.tags) { %>
                  <%= tag %>.
                <% } %>
              </p>
            </div>
          <% } %>
        </div>
      </section>
    </main>
<% include partials/footer %>
  </div>
</body>
</html>